################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Debug
/SFMLlib
/x64
/LearnSFML.vcxproj
/LearnSFML.vcxproj.filters
/LearnSFML.vcxproj.user
